@font-face {
    font-family: 'thunder';
    src: url('../fonts/Thunder-VF.ttf') format("truetype");
         font-weight: normal; font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');